Repository koishijs/koishi-plugin-booru, pull requests merged in 2024-03, with the labels that each got.

#140 feat(pixiv): improve ai filter
  packages/pixiv/src/index.ts
  packages/pixiv/src/types.ts
Labels: bug, source: pixiv

#144 chore: dump version to 1.1.5
  packages/core/package.json
Labels: core

#145 feat: proxy support for image sources
  docs/zh-CN/develop/source.md
  packages/core/package.json
  packages/core/src/source.ts
  packages/danbooru/src/index.ts
  packages/e621/src/index.ts
  packages/gelbooru/src/index.ts
  packages/konachan/src/index.ts
  packages/lolibooru/src/index.ts
  packages/lolicon/src/index.ts
  packages/pixiv/src/index.ts
  packages/safebooru/src/index.ts
  packages/sankaku/src/index.ts
  packages/yande/src/index.ts
Labels: feature

#173 fix: description wrong
  packages/lolibooru/src/index.ts
Labels: source: lolibooru

#194 ci: enable labels synchronisation
  .github/workflows/labeler.yml
Labels: ci

#195 docs: add new options
  docs/zh-CN/config.md
Labels: documentation

#196 ci: disable test temporarily
  .github/workflows/build.yml
Labels: ci

#197 ci: allow only one comment workflow running
  .github/workflows/post-comment.yml
Labels: ci

#181 fix(pixiv): download image failed due to early-closed stream
  packages/pixiv/src/index.ts
Labels: source: pixiv

#200 chore(pixiv): bump version to 1.3.1
  packages/pixiv/package.json
Labels: source: pixiv

#202 feat: add different output method choice
  packages/core/src/command.tsx
  packages/core/src/index.ts
Labels: core

#203 chore: add eslint lint script
  .eslintrc.yml
  package.json
  packages/core/src/command.tsx
  packages/core/src/index.ts
  packages/core/src/source.ts
  packages/danbooru/src/index.ts
  packages/e621/src/index.ts
  packages/e621/src/types.ts
  packages/gelbooru/src/index.ts
  packages/konachan/src/index.ts
  packages/konachan/src/types.ts
  packages/local/src/index.ts
  packages/local/src/mapping.ts
  packages/local/src/scraper.ts
  packages/lolibooru/src/index.ts
  packages/lolibooru/src/types.ts
  packages/lolicon/src/index.ts
  packages/moehu/scripts/fetch-ids.ts
  packages/moehu/src/index.ts
  packages/pixiv/src/index.ts
  packages/pixiv/src/types.ts
  packages/safebooru/src/index.ts
  packages/sankaku/src/index.ts
  packages/sankaku/src/types.ts
  packages/yande/src/index.ts
  packages/yande/src/types.ts
Labels: source: pixiv, source: danbooru, source: gelbooru, source: konachan, source: safebooru, source: lolibooru, source: lolicon, source: yandere, core, source: e621, source: local, source: moehu, source: sankaku

#204 fix: show tip only once in a single command
  packages/core/src/command.tsx
Labels: core

#205 chore: bump version to 1.2.2
  packages/core/package.json
Labels: core

#206 fix: keyPairs default values and docs
  docs/zh-CN/plugins/danbooru.md
  docs/zh-CN/plugins/e621.md
  docs/zh-CN/plugins/gelbooru.md
  docs/zh-CN/plugins/pixiv.md
  packages/danbooru/src/index.ts
  packages/e621/src/index.ts
  packages/gelbooru/src/index.ts
  packages/konachan/src/index.ts
  packages/lolibooru/src/index.ts
  packages/pixiv/src/index.ts
  packages/sankaku/src/index.ts
  packages/yande/src/index.ts
Labels: documentation, source: pixiv, source: danbooru, source: gelbooru, source: konachan, source: lolibooru, source: yandere, source: e621, source: sankaku

#211 docs: update development documentations
  docs/zh-CN/develop/api.md
  docs/zh-CN/develop/service.md
  docs/zh-CN/develop/source.md
  packages/core/src/source.ts
Labels: documentation, core

#214 chore(local): change legacy `using` to `inject`
  packages/local/src/index.ts
Labels: source: local

#215 chore(local): bump version to 1.2.1
  packages/local/package.json
Labels: source: local

#216 feat(pixiv): migrate arraybuffer to stream again
  packages/pixiv/package.json
  packages/pixiv/src/index.ts
Labels: source: pixiv

#217 feat: parse pixiv html description
  packages/core/src/source.ts
  packages/pixiv/src/index.ts
  packages/pixiv/src/utils.ts
Labels: source: pixiv, core

#218 chore: bump pixiv version to 1.3.2
  packages/pixiv/package.json
Labels: source: pixiv

#219 chore: add publish provenance
  packages/core/package.json
  packages/danbooru/package.json
  packages/e621/package.json
  packages/gelbooru/package.json
  packages/konachan/package.json
  packages/local/package.json
  packages/lolibooru/package.json
  packages/lolicon/package.json
  packages/moehu/package.json
  packages/pixiv/package.json
  packages/safebooru/package.json
  packages/sankaku/package.json
  packages/yande/package.json
Labels: source: pixiv, source: danbooru, source: gelbooru, source: konachan, source: safebooru, source: lolibooru, source: lolicon, source: yandere, :gear: core, source: e621, source: local, source: moehu, source: sankaku

#223 feat: add tip for option `--count` usage
  packages/core/src/command.tsx
  packages/core/src/locales/zh-CN.yml
Labels: :gear: core

#224 chore: bump dependencies
  packages/core/package.json
Labels: :gear: core
