Repository koishijs/koishi-plugin-booru, pull requests merged in 2024-08, with the labels that each got.

#235 feat: resize oversize images before sending
  docs/zh-CN/config.md
  packages/core/package.json
  packages/core/src/command.tsx
  packages/core/src/index.ts
  packages/core/src/source.ts
Labels: :memo: documentation, :gear: core

#239 chore: bump version to 1.3.0
  packages/core/package.json
  packages/e621/package.json
  packages/pixiv/package.json
Labels: source: pixiv, :gear: core, source: e621

#241 chore: fix typo in comments
  packages/core/src/index.ts
Labels: :gear: core

#242 fix: set autoResize feature as experimental temporary
  packages/core/src/index.ts
Labels: :gear: core

#244 refa: migrate schema text to i18n files
  crowdin.yml
  packages/core/src/index.ts
  packages/core/src/locales/zh-CN.schema.yml
  packages/core/src/locales/zh-CN.source.schema.yml
  packages/core/src/source.ts
  packages/danbooru/src/index.ts
  packages/danbooru/src/locales/zh-CN.schema.yml
  packages/e621/src/index.ts
  packages/e621/src/locales/zh-CN.schema.yml
  packages/gelbooru/src/index.ts
  packages/gelbooru/src/locales/zh-CN.schema.yml
  packages/konachan/src/index.ts
  packages/konachan/src/locales/zh-CN.schema.yml
  packages/local/src/index.ts
  packages/local/src/locales/zh-CN.schema.yml
  packages/lolibooru/src/index.ts
  packages/lolibooru/src/locales/zh-CN.schema.yml
  packages/lolicon/src/index.ts
  packages/lolicon/src/locales/zh-CN.schema.yml
  packages/moehu/src/index.ts
  packages/moehu/src/locales/zh-CN.schema.yml
  packages/pixiv/src/index.ts
  packages/pixiv/src/locales/zh-CN.schema.yml
  packages/safebooru/src/index.ts
  packages/safebooru/src/locales/zh-CN.schema.yml
  packages/sankaku/src/index.ts
  packages/sankaku/src/locales/zh-CN.schema.yml
  packages/yande/src/index.ts
  packages/yande/src/locales/zh-CN.schema.yml
Labels: source: pixiv, source: danbooru, source: gelbooru, source: konachan, source: safebooru, source: lolibooru, source: lolicon, source: yandere, :gear: core, source: e621, source: local, source: moehu, source: sankaku

#247 refa: migrate Quester to HTTP
  packages/core/src/index.ts
  packages/core/src/source.ts
  packages/pixiv/src/index.ts
Labels: source: pixiv, :gear: core
