Repository koishijs/koishi-plugin-booru, pull requests merged in 2025-07, with the labels that each got.

#259 chore: bump pixiv version to 1.4.0
  docs/zh-CN/config.md
  docs/zh-CN/plugins/danbooru.md
  docs/zh-CN/plugins/e621.md
  docs/zh-CN/plugins/gelbooru.md
  docs/zh-CN/plugins/konachan.md
  docs/zh-CN/plugins/local.md
  docs/zh-CN/plugins/lolibooru.md
  docs/zh-CN/plugins/lolicon.md
  docs/zh-CN/plugins/pixiv.md
  docs/zh-CN/plugins/safebooru.md
  docs/zh-CN/plugins/sankaku.md
  docs/zh-CN/plugins/yande.md
  packages/pixiv/package.json
Labels: :memo: documentation, source: pixiv

#260 chore: update readme and translation link
  docs/.vitepress/config/zh-CN.json
  packages/core/readme.md
Labels: :gear: core

#261 feat: make most source plugin reusable
  packages/danbooru/src/index.ts
  packages/e621/src/index.ts
  packages/gelbooru/src/index.ts
  packages/konachan/src/index.ts
  packages/lolibooru/src/index.ts
  packages/lolicon/src/index.ts
  packages/moehu/src/index.ts
  packages/pixiv/src/index.ts
  packages/safebooru/src/index.ts
  packages/sankaku/src/index.ts
  packages/yande/src/index.ts
Labels: source: pixiv, source: danbooru, source: gelbooru, source: konachan, source: safebooru, source: lolibooru, source: lolicon, source: yandere, source: e621, source: moehu, source: sankaku

#262 chore: reconcile project referencing in monorepo tsconfig files
  packages/danbooru/tsconfig.json
  packages/e621/tsconfig.json
  packages/gelbooru/tsconfig.json
  packages/konachan/tsconfig.json
  packages/local/tsconfig.json
  packages/lolibooru/tsconfig.json
  packages/lolicon/tsconfig.json
  packages/moehu/tsconfig.json
  packages/pixiv/tsconfig.json
  packages/safebooru/tsconfig.json
  packages/sankaku/tsconfig.json
  packages/yande/tsconfig.json
  tsconfig.json
Labels: source: pixiv, source: danbooru, source: gelbooru, source: konachan, source: safebooru, source: lolibooru, source: lolicon, source: yandere, source: e621, source: local, source: moehu, source: sankaku
